.css_id__label {text-align:right;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nama_valas__label { }
.css_nama_valas__line { }
.css_nama_valas__obj { }
.css_kode_valas__label { }
.css_kode_valas__line { }
.css_kode_valas__obj { }
.css_stok_valas__label {text-align:right;}
.css_stok_valas__line {text-align:left;}
.css_stok_valas__obj {text-align:left;}
.css_avg_valas__label {text-align:right;}
.css_avg_valas__line {text-align:left;}
.css_avg_valas__obj {text-align:left;}
.css_equivalen__label {text-align:right;}
.css_equivalen__line {text-align:left;}
.css_equivalen__obj {text-align:left;}
