.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_master_ref_label { }
.css_master_ref_line { }
.css_master_ref_obj { }
.css_user_input_label { }
.css_user_input_line { }
.css_user_input_obj { }
.css_master_name_label { }
.css_master_name_line { }
.css_master_name_obj { }
.css_master_phone_label { }
.css_master_phone_line { }
.css_master_phone_obj { }
.css_master_address_label { }
.css_master_address_line { }
.css_master_address_obj { }
.css_master_total_label { }
.css_master_total_line {text-align:left;}
.css_master_total_obj {text-align:left;}
.css_master_type_label { }
.css_master_type_line {text-align:left;}
.css_master_type_obj {text-align:left;}
.css_master_jenis_label { }
.css_master_jenis_line {text-align:left;}
.css_master_jenis_obj {text-align:left;}
.css_master_trdate_label { }
.css_master_trdate_line { }
.css_master_trdate_obj { }
.css_master_update_label { }
.css_master_update_line { }
.css_master_update_obj { }
