.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_id_valas__label {text-align:center;vertical-align:middle;}
.css_id_valas__line {text-align:left;}
.css_id_valas__obj {text-align:left;}
.css_amount_valas__label {text-align:center;vertical-align:middle;}
.css_amount_valas__line {text-align:left;}
.css_amount_valas__obj {text-align:left;}
.css_amount_exchange__label {text-align:center;vertical-align:middle;}
.css_amount_exchange__line {text-align:left;}
.css_amount_exchange__obj {text-align:left;}
.css_amount_total__label {text-align:center;vertical-align:middle;}
.css_amount_total__line {text-align:left;}
.css_amount_total__obj {text-align:left;}
